services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    ports:
      - "5000:5000"
    env_file:
      - .env
    networks:
      - app-network
  ui:
    build:
      context: .
      dockerfile: Dockerfile
      target: ui
    ports:
      - "8501:8501"
    networks:
      - app-network
    depends_on:
      - api

networks:
  app-network:
